.container {    
    width: 100%;
    /* background-color: #D9D9D9; */
    padding-left: 200px;
    /* margin-top: 100px; */
    height: 100vh;
    overflow: auto; /* Habilitar barra de desplazamiento */

}