.sobrenosotros__contacto {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding-top: 100px;
    flex-direction: column;
}

.sobrenosotros__contacto--info {
    margin: 20px 0px;
    background-color: #FE5A09;
    color: white;
    padding-top: 55px;
    width: 100%;
    padding-bottom: 30px;

}

.sobrenosotros__contacto--dato {
    display: flex;

}

.sobrenosotros__contacto--dato i {
    margin-left: 30px;
    margin-bottom: 33px;
    margin-right: 10px;
    font-size: 20px;
}

.sobrenosotros__contacto--form {
    margin-left: 50px;

}

.sobrenosotros__contacto--form h2 {
    color: #FE5A09;
    font-size: 40px;

}

.sobrenosotros__contacto--input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.sobrenosotros__contacto--input input {
    width: 70%;
    border: none;
    background-color: #D9D9D9;
    height: 23px;
    outline: none;
    margin-left: 30px;
    padding-left: 30px;
}
.sobrenosotros__contacto--input textarea {
    width: 70%;
    border: none;
    background-color: #D9D9D9;
    /* height: 23px; */
    outline: none;
    margin-left: 30px;
    padding-left: 30px;
}

.sobrenosotros__contacto--button {
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #FE5A09;
}

@media screen and (min-width: 1200px) {
    .sobrenosotros__contacto {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 40px;
        /* flex-wrap: wrap; */
        padding-top: 100px;
    }
    .sobrenosotros__contacto--input input {
        width: 350px;
        border: none;
        background-color: #D9D9D9;
        height: 23px;
        outline: none;
        margin-left: 30px;
        padding-left: 70px;
        
    }
    .sobrenosotros__contacto--input textarea {
        width: 350px;
        border: none;
        background-color: #D9D9D9;
        height: 93px;
        outline: none;
        margin-left: 30px;
        padding-left: 70px;
        
    }

    .sobrenosotros__contacto--info {
        background-color: #FE5A09;
        color: white;  
        padding-top: 55px;
        /* padding-right: auto; */
        max-width: 700px;
        padding-bottom: 30px;
        width: 100%;
        padding-right: 400px;
        /* width: 100%;         */
    }

}
/* @media screen and (min-width: 1500px) {
    
    .sobrenosotros__contacto--info {
        background-color: #FE5A09;
        color: white;
        padding-top: 55px;
        width: auto;
        
    }
} */