.recla {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.reclamacion label{
    font-size: 12px;
}
.reclamacion p{
    font-size: 12px;
}
.reclamacion input {
    font-size: 12px;
}
.reclamacion h3 {
    margin-top: 30px;
}