.footer {
    background-color: #181616;
    padding: 10px 40px;
}

.footer__icon {
    display: flex;
    justify-content: space-between;
}

.footer__icon--book {
    text-align: center;
}

.footer__icon--book h3 {
    color: white;
    text-align: center;
}
.footer__icon--social i{
    margin-top: 20px;
    color: white;
    font-size: 40px;
}
.footer__icon--book img {
    width: 66px;
    height: 52px;

}
.footer__derechos {
    text-align: center;
}
.footer__derechos p {    
    color: white;
    padding-bottom: 20px;
}