.tourinfo{
    display: flex;
}
.tourinfo img{
    width: 50%;
    height: 800px;
    border-radius: 20px;
}
.tourinfo__info h4{
    font-weight: bold;
    margin: 40px 50px;
}
.tourinfo__info p{
    
    margin: 40px 50px;
}